@charset "utf-8";

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Dark Mode
$background: hsl(0, 0%, 13%);
$scheme-main: hsl(0, 0%, 6%);
$scheme-invert: $white;
$text: hsl(0, 0%, 91%);
$text-strong: hsl(0, 0%, 97%);
$modal-background-background-color: bulmaRgba($scheme-main, 0.6);
$modal-card-body-background-color: darken($background, 4%);
$border: darken($modal-background-background-color, 30%);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
