@charset "utf-8";

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Dark Mode
$background: hsl(0, 0%, 13%);
$scheme-main: hsl(0, 0%, 6%);
$scheme-invert: $white;
$text: hsl(0, 0%, 91%);
$text-strong: hsl(0, 0%, 97%);
$modal-background-background-color: bulmaRgba($scheme-main, 0.6);
$modal-card-body-background-color: darken($background, 4%);
$border: darken($modal-background-background-color, 30%);

$grey-darker: hsl(0, 0%, 58%);
$grey-dark: hsl(0, 0%, 53%);
$grey: hsl(0, 0%, 42%);
$grey-light: hsl(0, 0%, 32%);
$grey-lightest: hsl(0, 0%, 22%);

$button-border-width: 0;
$button-hover-color: $grey-darker;
$button-background-color: lighten($scheme-main, 0.5%);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Special button class that disables hover/active/focus effects
.button {
  // Text/border changes
  &.button-unhoverable {
    &:hover, &:active, &:focus, &.is-hovered, &.is-active, &.is-focused {
      border-color: $button-border-color !important;
      color: $text-strong !important;
    }
  }
  // Focused button link box shadow
  &:not(:active) {
    &:focus, &.is-focused {
      box-shadow: none;
    }
  }
  &.darker {
    background-color: darken($scheme-main, 3%);
  }
}
