#input {
    input {
        text-align: center;
        background-color: transparent;

        // Border fixing
        border-color: hsl(0, 0%, 20%);
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        color: hsl(0, 0%, 80%);

        // Input box font related manipulation
        font-family: 'KaTeX_Main', serif;
        padding: 0;
        height: 1.3em;
        line-height: 0;
        font-size: 8em;

        // Remove weird white box shadow
        &, &:active, &:focus {
            box-shadow: none;
        }
    }
}

.latex {
    font-family: "Computer Modern", serif;
}

#expression {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 2em;
    text-align: center;
    text-shadow: hsl(0, 0%, 5%) 5px 5px;

    // Adjust font & wrapping of KaTeX expression
    .katex {
        font-size: 16em !important;
        white-space: nowrap;
        user-select: none; // Ensure users can't copy and paste text easily
    }
}
