#input {
    input {
        text-align: center;
        background-color: transparent;

        // Border fixing
        border-color: var(--border);
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        color: var(--input-text);

        // Input box font related manipulation
        font-family: 'KaTeX_Main', serif;
        padding: 0;
        height: 1.4em;
        line-height: 1;
        font-size: clamp(2.25rem, 9vw, 4.5rem);

        // Remove weird white box shadow
        &,
        &:active,
        &:focus {
            box-shadow: none;
        }
    }
}

.latex {
    font-family: 'Computer Modern', serif;
}
