@keyframes shake {
    0% {
        border-color: rgba(#df4160, 10%);
        transform: translate(0);
    }
    20% {
        transform: translate(0.2em);
    }
    40% {
        transform: translate(-0.2em);
    }
    60% {
        border-color: rgba(#df4160, 15%);
        transform: translate(0.2em);
    }
    80% {
        transform: translate(-0.2em);
    }
    100% {
        transform: translate(0);
        border-color: var(--border);
    }
}

@keyframes green_flash {
    0% {
        border-color: var(--border);
        //border-color: rgba(#41df5b, 2.5%);
    }
    60% {
        border-color: rgba(#41df5b, 5%);
    }
    100% {
        border-color: var(--border);
    }
}

#input input.incorrect,
#input .incorrect input {
    animation: shake 0.5s ease-in-out;
}

#input input.correct,
#input .correct input {
    animation: green_flash 0.5s ease-in-out;
}
